<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Main</a></li>
    <% if (user) { %>
    <li><a href="/dss">DSS</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (user) { %>
      <%for(var i = 0; i < 2; i++){}%>
    <li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">Sign Out</a></form></li>
    <% } else { %>
    <li><a href="/login">Sign in</a></li>
    <% } %>
  </ul>
</nav>